.header-img{
  background-image: url(../img/header.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  

  #logo{
    font-size: 34px;
    font-family: $font-raleway;
    color:white;
  }

  nav{
    font-family: $font-montserrat;
    font-size: 14px;

   
    ul {
      margin:0;
    }

    a{
        color: #ffffff;

        &:hover {
          color: #c7b299;
          text-decoration: none;
        }
    }
  }
  .slider-wrapper{
    text-align: center;
    margin-top: 150px;
    top: 30%;
    color:#ffffff;
  }
}