@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Raleway:300,400,700');


$font-raleway: 'Raleway', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;


// COLORS
$btn-primary: #998675;
$header-color: #555555;
$base-font-color: #8c8c8c;
$latest-project-font-color:#c2b6ac;
$header-hover-color: #c7b299;
$border-service-color: #f1eee9;







// FONTS
//...

