.wax-ideas {
  background: #fbfaf8;
  text-align: center;
  padding-top: 80px;

  h2 {
    color: $header-color;
    font-size: 30px;
  }

  p {
    color: $base-font-color;
    font-size: 16px;
  }
  img {
    max-width: 100%;
  }
}

.multipurpose {
  background: linear-gradient(to right, #221c1a, #382820, #493125);
  padding-top: 30px;
  padding-bottom: 30px;

  h3 {
    font-size: 28px;
    color: #ffffff;
  }
  p {
    font-size: 18px;
    color: $multipurpose;
  }

  span {
    color: $header-hover-color;
  }
}
